<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-loginregisternav></app-loginregisternav>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header><br>
  
      <form class="example-form" [formGroup]="formGroup">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput  placeholder="Email" name="mail" [(ngModel)]="mail" formControlName="email">
            <mat-error *ngIf="formGroup.get('email').hasError('required') && (formGroup.get('email').dirty || formGroup.get('email').touched)">
              Email is required.
            </mat-error>
          </mat-form-field> <br>
  
          <mat-form-field class="example-full-width">
            <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="password" formControlName="pswd">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="formGroup.get('pswd').hasError('required') && (formGroup.get('pswd').dirty || formGroup.get('pswd').touched)">Password is required</mat-error>
          </mat-form-field><br>
        </mat-card-content>

        <button mat-stroked-button color="primary" (click)="signInManual()">Log in</button><br>

        <div class="vl">
            <span class="vl-innertext">or</span>
        </div><br>

        <div>
            <button class="fb btn" (click)="signInWithFB()">
                <a>
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
            </button>
            <button class="google btn" (click)="signInWithGoogle()">
                <a>
                    <i class="fa fa-google fa-fw"></i> Login with Google+
                </a>
            </button>
        </div>
      </form>
    </mat-card>
  
  </div>
